# Конфигурация
config.ini

# Виртуальное окружение
venv/
.env

# База данных
*.db
history.db

# Логи
*.log
*.log.*
logging.txt

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp